@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-film"></span> Cinematogr&aacute;fica Rinku</h1>
    <p class="lead">Sistema para alta de empleados, agregar los movimientos realizados por los empleados y calculo de n&oacute;mina mensual</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empleados</h2>
        <p>
            Puedes dar de alta empleados, realizar cambios sobre, buscar empleados, consultar la lista de empleados
            y sobre estos realizar distintas acciones como las ya mensionadas.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Movimientos</h2>
        <p>Registra las entregas realizados por tus empleados, dias trabajados, horarios cubiertos por auxiliares y m&aacute;s !!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>N&oacute;mina Mensual</h2>
        <p>Calcula la nomina de una manera sencilla con base a tus movimientos del mes.</p>
    </div>
</div>